<div class="row">
  <div class="col-sm-6">
    <div class="form-group" [class.has-error]="(data.title == undefined || data.title == '') && submitted">
      <label for="category_name">Category Name</label>
      <input type="text" class="form-control" id="category_name" placeholder="Category Name" [(ngModel)]="data.title">
    </div>
  </div>
  <div class="col-sm-6">
    <div class="form-group" [class.has-error]="file == undefined && submitted">
      <label for="categoryicon">Choose Icon</label>
      <ba-file-uploader type="file" id="categoryicon" (change)="fileChangeEvent($event)"></ba-file-uploader>
    </div>
  </div>
</div>

<button type="submit" class="btn btn-primary" (click)="add()" [disabled]="sendingRequest"><i *ngIf="sendingRequest" class="fa fa-spin fa-circle-o-notch"></i> Save</button>
